<!Doctype html>
<html>
    <head>
        <title>Park Or Die Manual</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <style>
                body{
                    margin-right: 100px;
                    margin-left: 100px;
                }
            </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Welcome to the Park Free Or Die Manual!</h1>
        </div>
        <div>
            <h2>Introduction</h2>
            <p>
                Welcome to our manual.  Here you will learn how to use the Park Free or Die App.
                Now that you have successfully logged in, we're sure your wondering how to manage
                all the parking receipts that you will be acquiring in the near future.
                The parking tab is where you need to start! </br>
            </p>
            <h2>Parking Tab</h2>
            <p>
                <h4>Step 1: Fill the Hours</h4>
                Here you will need to type in the number of hours you need to park for.
                You will be unable to proceed until you enter the number of hours in this box.
                Once you type the hours, press "Search for Parking Nearby"to proceed.
            </p>
            <p>
                <h4>Step 2: Map and Search Bar</h4>
                The App will ask for access to your location.  It is up to you whether or not
                you want to provide access.  If you do not, you will be unable to proceed or
                find/create parking receipts.  Once access has been granted, type the address
                or name of the place you want to park at in the search bar and click the
                correct address.  Upon clicking the address, it will drop a pin where you
                selected.  Next, click "Get Address of Parking Facility"
            </p>
            <p>
                <h4>Step 3: Review the Receipt</h4>
                The details of the location you chose and the cost of parking will now be
                presented to you.  If you wish to change the location, do so by clicking
                the back button in the top left corner, otherwise, click the "Park Here"
                button to proceed and create the parking receipt.
            </p>
            <h2>Parking Receipts Tab</h2>
            <p>
                The second tab called "Receipts".  This screen brings you to a table showing
                all receipts you have entered in the system from latest to oldest.  You can
                edit the receipts by doing a long press on the receipt you wish to edit.  This
                will bring up a new screen where you can modify any of the information as
                needed and then allows you to save the receipt when you are done.
            </p>
            <h2>Account Tab</h2>
            <p>
                The third tab is called "Account".  Here your the details of your account will be
                displayed.  If any information is out of order, feel free to manage any changes on
                this screen.  When you are done, you can save changes or log out here.
           </p>
           <h2>Support Tab</h2>
           <p>
                The final tab is called the "Support" tab.  Here you will be able to contact customer
                support via email, or phone call if you run into any issues.  You have already found
                this manual in this tab so we assume you have taken a quick peruse through the app
                now to see what is available.
           </p>
        </div>
    </body>
</html>
